<p>aboutus works!</p>
<p>About us</p>
<div class="card">
  <img src="https://cdn.cnn.com/cnnnext/dam/assets/201030094143-stock-rhodesian-ridgeback-exlarge-169.jpg" alt="Avatar"
    style="width:100%">
  <div class="container">


    <h4><b>Uncle Joe!</b></h4>
    <p>Boxer Breed, United Kingdom</p>
    <p>Age: 4</p>
    <!-- <button type="button" class="btn btn-primary btn-lg">Contact Us</button> -->
    <button type="button" class="btn btn-primary btn-lg" (click)='navigateFunction()'>Go to Form</button>
  </div>
</div>